:root {
    --bg-color: lightgray;
    --section-bg-color: whitesmoke;

    --font-size-base: 18px;

} 
body {
    background-color: var(--bg-color);
    font-size: var(--font-size-base);
}

 section {
    background-color: var(--section-bg-color);
    border-radius: 1rem;
    padding: 1em;
    margin: 2em 0;
    display: grid;
 }